.btn {
    background-color: #f4f4f4;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
}

.btn.selected {
    background-color: #4CAF50; /* Green */
    color: white;
}

.container {
    max-width: 600px;
    margin: auto;
    text-align: center;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    margin-top: 20px;
}